<!-- /sections/section-video.liquid -->

{%- assign video_bg_show = false -%}
{%- if section.settings.video_link_bg != blank -%}
  {%- assign video_link_bg_downcase = section.settings.video_link_bg | downcase -%}
  {%- if video_link_bg_downcase contains '.mp4' -%}
    {%- assign video_bg_show = true -%}
  {%- endif -%}
{%- endif -%}

{%- assign scroll_class = '' -%}
{% if section.settings.height == 'use_screen_full' %}
  {%- assign scroll_class = 'has-scroll-arrow' -%}
{%- endif -%}
<style>
  .custom-style{
    position : relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .icon-absolute{
    margin-top: auto;
    margin-right:100px;
    margin-bottom:50px;
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .icon-video{
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .video-h2{
    text-align: center;
    font-weight:400; 
    margin-bottom:0px;
        font-size: 37pt;
   /* display:flex;
    flex-direction: row; */
  }
.svg-custom-video{
    
      margin-bottom:-9px;
    }
  @media screen and (max-width: 768px){
    .video-h2{
      display: block;
    }
    .icon-absolute{
    margin-right:auto;
    margin-left: auto;
    }
    .custom-style{
    justify-content: center;
  }
    .svg-custom-video{
      width:195px;
      margin-bottom:-11px;
    }
  }
</style>
<div class="section--image homepage-video fade-in-child js-overflow-container {{ scroll_class }} {{ section.settings.height }} {{ section.settings.text_color }} custom-style" 
  data-section-id="{{ section.id }}" 
  data-section-type="video" 
  {% if video_bg_show and section.settings.height == 'use_image' %}
    style="padding-top: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
  {% endif %}
  data-overlay-header>
  <div class="icon-absolute">
    <a href="https://verb-pipeline.myshopify.com/pages/hair-quiz">
      <img src="https://cdn.shopify.com/s/files/1/0573/0061/5202/files/there_s-a-verb-for-you.gif?v=1659958749" class="icon-video"/>
    </a>
    <h2 class="video-h2"style="">
      <svg class="svg-custom-video" xmlns="http://www.w3.org/2000/svg" width="253" height="41" viewBox="0 0 253 41" fill="none"><path d="M18.248 16.552L17.5282 16.7627L17.7474 17.5115L18.487 17.2629L18.248 16.552ZM23.96 14.632L24.199 15.3429L24.8575 15.1216L24.6871 14.448L23.96 14.632ZM24.104 23.752L24.8284 23.9463L25.0115 23.2639L24.3412 23.0405L24.104 23.752ZM18.488 21.88L18.7252 21.1685L17.9846 20.9216L17.7676 21.6715L18.488 21.88ZM13.016 13.318C14.4267 13.318 15.4099 13.7613 16.1045 14.3815C16.8124 15.0135 17.2678 15.8728 17.5282 16.7627L18.9678 16.3413C18.6522 15.2632 18.0756 14.1305 17.1035 13.2625C16.1181 12.3827 14.7733 11.818 13.016 11.818V13.318ZM18.487 17.2629L24.199 15.3429L23.721 13.9211L18.009 15.8411L18.487 17.2629ZM24.6871 14.448C23.6012 10.156 19.6723 5.914 12.872 5.914V7.414C18.9357 7.414 22.3028 11.14 23.2329 14.816L24.6871 14.448ZM12.872 5.914C5.58804 5.914 -0.118 11.4876 -0.118 19.192H1.382C1.382 12.3044 6.42796 7.414 12.872 7.414V5.914ZM-0.118 19.192C-0.118 26.858 5.69359 32.47 13.064 32.47V30.97C6.51441 30.97 1.382 26.022 1.382 19.192H-0.118ZM13.064 32.47C19.7273 32.47 23.6941 28.1741 24.8284 23.9463L23.3796 23.5577C22.4019 27.2019 18.9767 30.97 13.064 30.97V32.47ZM24.3412 23.0405L18.7252 21.1685L18.2508 22.5915L23.8668 24.4635L24.3412 23.0405ZM17.7676 21.6715C17.3062 23.2652 15.9085 25.114 13.064 25.114V26.614C16.7475 26.614 18.6138 24.1428 19.2084 22.0885L17.7676 21.6715ZM13.064 25.114C11.6185 25.114 10.3055 24.5848 9.35339 23.6068C8.40378 22.6314 7.766 21.1601 7.766 19.192H6.266C6.266 21.4959 7.02022 23.3606 8.27861 24.6532C9.53452 25.9432 11.2455 26.614 13.064 26.614V25.114ZM7.766 19.192C7.766 17.2205 8.39385 15.7624 9.32947 14.8011C10.2672 13.8376 11.5668 13.318 13.016 13.318V11.818C11.2012 11.818 9.50085 12.4744 8.25453 13.7549C7.00615 15.0376 6.266 16.8915 6.266 19.192H7.766ZM43.1986 7.288H43.9486V6.60926L43.2733 6.54172L43.1986 7.288ZM34.9906 10.888H34.2406L35.6716 11.2023L34.9906 10.888ZM34.9906 7.384H35.7406V6.634H34.9906V7.384ZM28.7986 7.384V6.634H28.0486V7.384H28.7986ZM28.7986 31H28.0486V31.75H28.7986V31ZM35.1826 31V31.75H35.9326V31H35.1826ZM43.1986 13.72L43.0515 14.4554L43.9486 14.6349V13.72H43.1986ZM43.2733 6.54172C42.797 6.49409 42.2814 6.442 41.7106 6.442V7.942C42.1959 7.942 42.6403 7.98591 43.124 8.03428L43.2733 6.54172ZM41.7106 6.442C39.6221 6.442 35.9434 7.03402 34.3097 10.5737L35.6716 11.2023C36.9179 8.50198 39.7671 7.942 41.7106 7.942V6.442ZM35.7406 10.888V7.384H34.2406V10.888H35.7406ZM34.9906 6.634H28.7986V8.134H34.9906V6.634ZM28.0486 7.384V31H29.5486V7.384H28.0486ZM28.7986 31.75H35.1826V30.25H28.7986V31.75ZM35.9326 31V20.2H34.4326V31H35.9326ZM35.9326 20.2C35.9326 17.7938 36.5989 16.3546 37.5158 15.5066C38.4441 14.6482 39.7558 14.278 41.2786 14.278V12.778C39.5375 12.778 37.8011 13.1998 36.4974 14.4054C35.1824 15.6214 34.4326 17.5182 34.4326 20.2H35.9326ZM41.2786 14.278C41.81 14.278 42.3844 14.322 43.0515 14.4554L43.3457 12.9846C42.5728 12.83 41.8992 12.778 41.2786 12.778V14.278ZM43.9486 13.72V7.288H42.4486V13.72H43.9486ZM52.1109 16.504L51.3625 16.4541L51.3092 17.254H52.1109V16.504ZM62.6709 16.504V17.254H63.4521L63.4203 16.4734L62.6709 16.504ZM63.2949 22.648L63.5086 21.9291L62.8315 21.7278L62.59 22.3917L63.2949 22.648ZM51.9669 20.872V20.122H51.1815L51.2177 20.9066L51.9669 20.872ZM68.8629 20.872V21.622H69.6129V20.872H68.8629ZM68.6229 24.232L69.3424 24.4436L69.5534 23.7262L68.8366 23.5131L68.6229 24.232ZM52.8592 16.5539C52.9804 14.7368 54.5229 12.598 57.3909 12.598V11.098C53.6348 11.098 51.5294 13.9512 51.3625 16.4541L52.8592 16.5539ZM57.3909 12.598C59.0486 12.598 60.1391 13.1163 60.827 13.8188C61.5248 14.5313 61.8795 15.5061 61.9215 16.5346L63.4203 16.4734C63.3662 15.1499 62.905 13.7967 61.8987 12.7692C60.8827 11.7317 59.3811 11.098 57.3909 11.098V12.598ZM62.6709 15.754H52.1109V17.254H62.6709V15.754ZM62.59 22.3917C62.2451 23.3403 61.7235 24.1037 60.9942 24.6331C60.268 25.1604 59.2776 25.498 57.9189 25.498V26.998C59.5361 26.998 60.8498 26.5916 61.8755 25.8469C62.8983 25.1043 63.5767 24.0677 63.9997 22.9043L62.59 22.3917ZM57.9189 25.498C55.1009 25.498 52.8393 23.5082 52.7161 20.8374L51.2177 20.9066C51.3824 24.4758 54.4009 26.998 57.9189 26.998V25.498ZM51.9669 21.622H68.8629V20.122H51.9669V21.622ZM69.6129 20.872C69.6129 20.8857 69.6146 20.8539 69.6257 20.7094C69.6347 20.5914 69.647 20.4304 69.6593 20.2431C69.6837 19.8699 69.7089 19.3835 69.7089 18.904H68.2089C68.2089 19.3365 68.186 19.7861 68.1625 20.1449C68.1508 20.3236 68.139 20.4776 68.1301 20.5951C68.1231 20.6861 68.1129 20.8103 68.1129 20.872H69.6129ZM69.7089 18.904C69.7089 14.9704 68.5742 11.7079 66.4069 9.42376C64.2349 7.13465 61.1067 5.914 57.2949 5.914V7.414C60.779 7.414 63.4829 8.52135 65.3188 10.4562C67.1595 12.3961 68.2089 15.2536 68.2089 18.904H69.7089ZM57.2949 5.914C50.8268 5.914 44.9289 11.1517 44.9289 19.096H46.4289C46.4289 11.9683 51.667 7.414 57.2949 7.414V5.914ZM44.9289 19.096C44.9289 27.5031 51.002 32.47 57.8709 32.47V30.97C51.7798 30.97 46.4289 26.6249 46.4289 19.096H44.9289ZM57.8709 32.47C64.0143 32.47 68.0493 28.8402 69.3424 24.4436L67.9034 24.0204C66.7965 27.7838 63.3434 30.97 57.8709 30.97V32.47ZM68.8366 23.5131L63.5086 21.9291L63.0811 23.3669L68.4091 24.9509L68.8366 23.5131ZM87.6181 28.168H88.3681V25.6083L86.9867 27.7633L87.6181 28.168ZM87.8581 31L87.1273 31.1686L87.2615 31.75H87.8581V31ZM93.7141 31V31.75H94.6081L94.4527 30.8697L93.7141 31ZM73.0261 14.44L72.2801 14.3625L72.2104 15.0338L72.8707 15.1737L73.0261 14.44ZM78.6901 15.64L78.5347 16.3737L79.3589 16.5483L79.4369 15.7095L78.6901 15.64ZM85.4101 16.552L85.3041 15.8095L85.2998 15.8102L85.4101 16.552ZM79.6021 17.416L79.7107 18.1581L79.7125 18.1578L79.6021 17.416ZM81.8581 21.208L81.9672 21.95L81.9717 21.9494L81.8581 21.208ZM87.1861 20.392H87.9361V19.5184L87.0726 19.6506L87.1861 20.392ZM71.7961 24.568C71.7961 28.7213 75.2484 32.422 80.6581 32.422V30.922C75.9879 30.922 73.2961 27.8067 73.2961 24.568H71.7961ZM80.6581 32.422C84.4268 32.422 86.9166 30.6521 88.2495 28.5727L86.9867 27.7633C85.9196 29.4279 83.8975 30.922 80.6581 30.922V32.422ZM86.8681 28.168C86.8681 29.0998 86.9643 30.4622 87.1273 31.1686L88.5889 30.8314C88.4639 30.2898 88.3681 29.0602 88.3681 28.168H86.8681ZM87.8581 31.75H93.7141V30.25H87.8581V31.75ZM94.4527 30.8697C94.3176 30.1041 94.1761 28.4685 94.1761 27.256H92.6761C92.6761 28.5395 92.8226 30.2639 92.9755 31.1303L94.4527 30.8697ZM94.1761 27.256V15.64H92.6761V27.256H94.1761ZM94.1761 15.64C94.1761 13.1222 93.437 10.6682 91.6314 8.84259C89.8215 7.01276 87.0389 5.914 83.1541 5.914V7.414C86.7573 7.414 89.1108 8.42724 90.5649 9.89741C92.0232 11.3718 92.6761 13.4058 92.6761 15.64H94.1761ZM83.1541 5.914C76.4533 5.914 72.7058 10.2653 72.2801 14.3625L73.7721 14.5175C74.1144 11.2227 77.1829 7.414 83.1541 7.414V5.914ZM72.8707 15.1737L78.5347 16.3737L78.8456 14.9063L73.1816 13.7063L72.8707 15.1737ZM79.4369 15.7095C79.5177 14.8409 79.8778 14.0589 80.4845 13.4956C81.0859 12.9371 81.9767 12.55 83.2021 12.55V11.05C81.6435 11.05 80.3743 11.5509 79.4638 12.3964C78.5584 13.2371 78.0546 14.3751 77.9433 15.5705L79.4369 15.7095ZM83.2021 12.55C84.4219 12.55 85.2289 12.8653 85.7179 13.2787C86.1968 13.6837 86.4361 14.2358 86.4361 14.872H87.9361C87.9361 13.8282 87.5274 12.8443 86.6863 12.1333C85.8553 11.4307 84.6704 11.05 83.2021 11.05V12.55ZM86.4361 14.872C86.4361 15.1452 86.367 15.3137 86.2553 15.4327C86.1348 15.561 85.8738 15.7281 85.3041 15.8095L85.5162 17.2945C86.2904 17.1839 86.9174 16.9189 87.3489 16.4593C87.7893 15.9903 87.9361 15.4148 87.9361 14.872H86.4361ZM85.2998 15.8102L79.4918 16.6742L79.7125 18.1578L85.5205 17.2938L85.2998 15.8102ZM79.4935 16.6739C77.4168 16.9778 75.4974 17.7579 74.0862 19.0759C72.6593 20.4085 71.7961 22.2523 71.7961 24.568H73.2961C73.2961 22.6597 73.9929 21.2155 75.11 20.1721C76.2428 19.1141 77.8514 18.4302 79.7107 18.1581L79.4935 16.6739ZM82.0021 26.17C81.14 26.17 80.5725 25.8937 80.2225 25.5437C79.8662 25.1874 79.6801 24.7003 79.6801 24.184H78.1801C78.1801 25.0597 78.4981 25.9406 79.1618 26.6043C79.8318 27.2743 80.8003 27.67 82.0021 27.67V26.17ZM79.6801 24.184C79.6801 23.4691 79.9254 22.9895 80.2901 22.6538C80.6741 22.3003 81.2484 22.0557 81.9672 21.95L81.749 20.466C80.8358 20.6003 79.9462 20.9317 79.2742 21.5502C78.5829 22.1865 78.1801 23.0749 78.1801 24.184H79.6801ZM81.9717 21.9494L87.2997 21.1334L87.0726 19.6506L81.7446 20.4666L81.9717 21.9494ZM86.4361 20.392V21.448H87.9361V20.392H86.4361ZM86.4361 21.448C86.4361 23.382 85.8637 24.5198 85.1063 25.1873C84.3309 25.8706 83.239 26.17 82.0021 26.17V27.67C83.4533 27.67 84.9534 27.3214 86.098 26.3127C87.2605 25.2882 87.9361 23.69 87.9361 21.448H86.4361ZM107.593 0.327997H108.343V-0.422003H107.593V0.327997ZM101.833 0.327997V-0.422003H101.083V0.327997H101.833ZM96.9845 7.384V6.634H96.2345V7.384H96.9845ZM96.9845 13.048H96.2345V13.798H96.9845V13.048ZM101.257 13.048H102.007V12.298H101.257V13.048ZM112.345 30.76L112.633 31.4523L113.095 31.26V30.76H112.345ZM112.345 25.48H113.095V24.4857L112.138 24.7589L112.345 25.48ZM107.593 13.048V12.298H106.843V13.048H107.593ZM112.345 13.048V13.798H113.095V13.048H112.345ZM112.345 7.384H113.095V6.634H112.345V7.384ZM107.593 7.384H106.843V8.134H107.593V7.384ZM107.593 -0.422003H101.833V1.078H107.593V-0.422003ZM101.083 0.327997V3.64H102.583V0.327997H101.083ZM101.083 3.64C101.083 4.56716 100.83 5.30631 100.385 5.80449C99.9525 6.28891 99.2598 6.634 98.1845 6.634V8.134C99.6052 8.134 100.736 7.66309 101.504 6.80351C102.259 5.95769 102.583 4.82484 102.583 3.64H101.083ZM98.1845 6.634H96.9845V8.134H98.1845V6.634ZM96.2345 7.384V13.048H97.7345V7.384H96.2345ZM96.9845 13.798H101.257V12.298H96.9845V13.798ZM100.507 13.048V24.04H102.007V13.048H100.507ZM100.507 24.04C100.507 26.4813 101.281 28.515 102.751 29.937C104.217 31.3559 106.293 32.086 108.745 32.086V30.586C106.588 30.586 104.92 29.9481 103.794 28.859C102.672 27.773 102.007 26.1587 102.007 24.04H100.507ZM108.745 32.086C110.707 32.086 111.958 31.7334 112.633 31.4523L112.056 30.0677C111.579 30.2666 110.526 30.586 108.745 30.586V32.086ZM113.095 30.76V25.48H111.595V30.76H113.095ZM112.138 24.7589C111.901 24.8266 111.118 24.922 110.377 24.922V26.422C111.171 26.422 112.116 26.3254 112.551 26.2011L112.138 24.7589ZM110.377 24.922C109.529 24.922 109.066 24.7604 108.805 24.5234C108.56 24.3004 108.343 23.8684 108.343 22.936H106.843C106.843 24.0676 107.105 25.0036 107.796 25.6326C108.471 26.2476 109.4 26.422 110.377 26.422V24.922ZM108.343 22.936V13.048H106.843V22.936H108.343ZM107.593 13.798H112.345V12.298H107.593V13.798ZM113.095 13.048V7.384H111.595V13.048H113.095ZM112.345 6.634H107.593V8.134H112.345V6.634ZM108.343 7.384V0.327997H106.843V7.384H108.343ZM122.189 16.504L121.441 16.4541L121.387 17.254H122.189V16.504ZM132.749 16.504V17.254H133.53L133.498 16.4734L132.749 16.504ZM133.373 22.648L133.587 21.9291L132.91 21.7278L132.668 22.3917L133.373 22.648ZM122.045 20.872V20.122H121.26L121.296 20.9066L122.045 20.872ZM138.941 20.872V21.622H139.691V20.872H138.941ZM138.701 24.232L139.421 24.4436L139.632 23.7262L138.915 23.5131L138.701 24.232ZM122.937 16.5539C123.058 14.7368 124.601 12.598 127.469 12.598V11.098C123.713 11.098 121.608 13.9512 121.441 16.4541L122.937 16.5539ZM127.469 12.598C129.127 12.598 130.217 13.1163 130.905 13.8188C131.603 14.5313 131.958 15.5061 132 16.5346L133.498 16.4734C133.444 15.1499 132.983 13.7967 131.977 12.7692C130.961 11.7317 129.459 11.098 127.469 11.098V12.598ZM132.749 15.754H122.189V17.254H132.749V15.754ZM132.668 22.3917C132.323 23.3403 131.802 24.1037 131.072 24.6331C130.346 25.1604 129.356 25.498 127.997 25.498V26.998C129.614 26.998 130.928 26.5916 131.954 25.8469C132.976 25.1043 133.655 24.0677 134.078 22.9043L132.668 22.3917ZM127.997 25.498C125.179 25.498 122.917 23.5082 122.794 20.8374L121.296 20.9066C121.461 24.4758 124.479 26.998 127.997 26.998V25.498ZM122.045 21.622H138.941V20.122H122.045V21.622ZM139.691 20.872C139.691 20.8857 139.693 20.8539 139.704 20.7094C139.713 20.5914 139.725 20.4304 139.737 20.2431C139.762 19.8699 139.787 19.3835 139.787 18.904H138.287C138.287 19.3365 138.264 19.7861 138.241 20.1449C138.229 20.3236 138.217 20.4776 138.208 20.5951C138.201 20.6861 138.191 20.8103 138.191 20.872H139.691ZM139.787 18.904C139.787 14.9704 138.652 11.7079 136.485 9.42376C134.313 7.13465 131.185 5.914 127.373 5.914V7.414C130.857 7.414 133.561 8.52135 135.397 10.4562C137.238 12.3961 138.287 15.2536 138.287 18.904H139.787ZM127.373 5.914C120.905 5.914 115.007 11.1517 115.007 19.096H116.507C116.507 11.9683 121.745 7.414 127.373 7.414V5.914ZM115.007 19.096C115.007 27.5031 121.08 32.47 127.949 32.47V30.97C121.858 30.97 116.507 26.6249 116.507 19.096H115.007ZM127.949 32.47C134.092 32.47 138.127 28.8402 139.421 24.4436L137.981 24.0204C136.875 27.7838 133.422 30.97 127.949 30.97V32.47ZM138.915 23.5131L133.587 21.9291L133.159 23.3669L138.487 24.9509L138.915 23.5131ZM164.084 40.312V41.062H164.568L164.767 40.62L164.084 40.312ZM178.916 7.384L179.599 7.69202L180.076 6.634H178.916V7.384ZM172.1 7.384V6.634H171.601L171.408 7.09349L172.1 7.384ZM166.292 21.208L165.609 21.5185L166.319 23.0794L166.983 21.4985L166.292 21.208ZM160.004 7.384L160.686 7.07347L160.486 6.634H160.004V7.384ZM152.852 7.384V6.634H151.653L152.177 7.71186L152.852 7.384ZM162.884 28.024L163.567 28.3335L163.712 28.0128L163.558 27.6961L162.884 28.024ZM157.316 40.312L156.632 40.0025L156.152 41.062H157.316V40.312ZM164.767 40.62L179.599 7.69202L178.232 7.07598L163.4 40.004L164.767 40.62ZM178.916 6.634H172.1V8.134H178.916V6.634ZM171.408 7.09349L165.6 20.9175L166.983 21.4985L172.791 7.67451L171.408 7.09349ZM166.974 20.8975L160.686 7.07347L159.321 7.69453L165.609 21.5185L166.974 20.8975ZM160.004 6.634H152.852V8.134H160.004V6.634ZM152.177 7.71186L162.209 28.3519L163.558 27.6961L153.526 7.05614L152.177 7.71186ZM162.2 27.7145L156.632 40.0025L157.999 40.6215L163.567 28.3335L162.2 27.7145ZM157.316 41.062H164.084V39.562H157.316V41.062ZM192.266 25.162C190.891 25.162 189.589 24.6558 188.631 23.682C187.677 22.7128 187.016 21.2308 187.016 19.192H185.516C185.516 21.5692 186.295 23.4472 187.561 24.734C188.823 26.0162 190.521 26.662 192.266 26.662V25.162ZM187.016 19.192C187.016 17.1273 187.678 15.647 188.629 14.6855C189.585 13.7192 190.887 13.222 192.266 13.222V11.722C190.525 11.722 188.827 12.3528 187.563 13.6305C186.294 14.913 185.516 16.7927 185.516 19.192H187.016ZM192.266 13.222C193.645 13.222 194.947 13.7192 195.903 14.6855C196.854 15.647 197.516 17.1273 197.516 19.192H199.016C199.016 16.7927 198.238 14.913 196.969 13.6305C195.705 12.3528 194.007 11.722 192.266 11.722V13.222ZM197.516 19.192C197.516 21.2567 196.854 22.737 195.903 23.6985C194.947 24.6648 193.645 25.162 192.266 25.162V26.662C194.007 26.662 195.705 26.0312 196.969 24.7535C198.238 23.471 199.016 21.5913 199.016 19.192H197.516ZM192.266 5.914C184.794 5.914 179.132 11.4837 179.132 19.192H180.632C180.632 12.3083 185.626 7.414 192.266 7.414V5.914ZM179.132 19.192C179.132 26.8504 184.792 32.47 192.266 32.47V30.97C185.628 30.97 180.632 26.0296 180.632 19.192H179.132ZM192.266 32.47C199.74 32.47 205.4 26.8504 205.4 19.192H203.9C203.9 26.0296 198.904 30.97 192.266 30.97V32.47ZM205.4 19.192C205.4 11.4837 199.738 5.914 192.266 5.914V7.414C198.906 7.414 203.9 12.3083 203.9 19.192H205.4ZM225.052 31L224.316 31.1471L224.437 31.75H225.052V31ZM231.148 31V31.75H231.991L231.892 30.9124L231.148 31ZM230.908 7.384H231.658V6.634H230.908V7.384ZM224.524 7.384V6.634H223.774V7.384H224.524ZM215.74 7.384H216.49V6.634H215.74V7.384ZM209.355 7.384V6.634H208.605V7.384H209.355ZM224.86 28.456H225.61V25.6966L224.213 28.0763L224.86 28.456ZM225.052 31.75H231.148V30.25H225.052V31.75ZM231.892 30.9124C231.799 30.1187 231.658 28.5167 231.658 26.728H230.158C230.158 28.5873 230.304 30.2493 230.403 31.0876L231.892 30.9124ZM231.658 26.728V7.384H230.158V26.728H231.658ZM230.908 6.634H224.524V8.134H230.908V6.634ZM223.774 7.384V21.112H225.274V7.384H223.774ZM223.774 21.112C223.774 22.3334 223.411 23.3011 222.803 23.9561C222.203 24.6036 221.298 25.018 220.06 25.018V26.518C221.653 26.518 222.98 25.9724 223.904 24.9759C224.82 23.9869 225.274 22.6266 225.274 21.112H223.774ZM220.06 25.018C218.765 25.018 217.909 24.5681 217.362 23.9047C216.797 23.2196 216.49 22.2195 216.49 21.016H214.99C214.99 22.4525 215.354 23.8284 216.205 24.8593C217.074 25.9119 218.378 26.518 220.06 26.518V25.018ZM216.49 21.016V7.384H214.99V21.016H216.49ZM215.74 6.634H209.355V8.134H215.74V6.634ZM208.605 7.384V22.312H210.105V7.384H208.605ZM208.605 22.312C208.605 25.0359 209.472 27.553 211.146 29.398C212.829 31.2525 215.28 32.374 218.332 32.374V30.874C215.671 30.874 213.634 29.9075 212.257 28.39C210.871 26.863 210.105 24.7241 210.105 22.312H208.605ZM218.332 32.374C220.967 32.374 224.022 31.3643 225.506 28.8357L224.213 28.0763C223.105 29.9637 220.688 30.874 218.332 30.874V32.374ZM224.11 28.456C224.11 29.4434 224.207 30.601 224.316 31.1471L225.787 30.8529C225.704 30.439 225.61 29.3886 225.61 28.456H224.11ZM252.121 7.288H252.871V6.60926L252.195 6.54172L252.121 7.288ZM243.913 10.888H243.163L244.593 11.2023L243.913 10.888ZM243.913 7.384H244.663V6.634H243.913V7.384ZM237.721 7.384V6.634H236.971V7.384H237.721ZM237.721 31H236.971V31.75H237.721V31ZM244.105 31V31.75H244.855V31H244.105ZM252.121 13.72L251.973 14.4554L252.871 14.6349V13.72H252.121ZM252.195 6.54172C251.719 6.49409 251.203 6.442 250.633 6.442V7.942C251.118 7.942 251.562 7.98591 252.046 8.03428L252.195 6.54172ZM250.633 6.442C248.544 6.442 244.865 7.03402 243.232 10.5737L244.593 11.2023C245.84 8.50198 248.689 7.942 250.633 7.942V6.442ZM244.663 10.888V7.384H243.163V10.888H244.663ZM243.913 6.634H237.721V8.134H243.913V6.634ZM236.971 7.384V31H238.471V7.384H236.971ZM237.721 31.75H244.105V30.25H237.721V31.75ZM244.855 31V20.2H243.355V31H244.855ZM244.855 20.2C244.855 17.7938 245.521 16.3546 246.438 15.5066C247.366 14.6482 248.678 14.278 250.201 14.278V12.778C248.459 12.778 246.723 13.1998 245.419 14.4054C244.104 15.6214 243.355 17.5182 243.355 20.2H244.855ZM250.201 14.278C250.732 14.278 251.306 14.322 251.973 14.4554L252.268 12.9846C251.495 12.83 250.821 12.778 250.201 12.778V14.278ZM252.871 13.72V7.288H251.371V13.72H252.871Z" fill="white"/></svg> 
        routine
    </h2>
{% unless section.settings.link_text == '' %}
        <a class="{{ section.settings.button_style }} {{ section.settings.button_color }} hero__btn btn--long uppercase  " 
          href="{{ section.settings.link }}"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="4" style="margin-top:20px;">
          {{ section.settings.link_text | escape }}
        </a>
      {% endunless %}
  </div>
  <div class="hero__content__wrapper {{ section.settings.text_align }}">
    <div class="hero__content js-overflow-content">
      {%- assign animation_anchor = "[data-section-id='" | append: section.id | append: "']" -%}
      {% unless section.settings.kicker == '' %}
        <p class="hero__kicker"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="1">
          {{ section.settings.kicker | escape }}
        </p>
      {% endunless %}
      {% unless section.settings.title == '' %}
        <h2 class="hero__title h2"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="2">
                    <span class="outlined_text">{{ block.settings.outlined_text }}</span> {{ block.settings.title | escape }}
        </h2>
      {% endunless %}
      {% unless section.settings.richtext == '' %}
        <div class="hero__description h5--body"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="3">
          {{ section.settings.richtext }}
        </div>
      {% endunless %}
    </div>
  </div>
  <div class="image-overlay" style="--bg:{{ section.settings.overlay_color }}; opacity:{{ section.settings.overlay_opacity | times: 0.01 }};"></div>

  {%- if video_bg_show -%}
    <div class="video-autoplay-wrapper">
      <video 
        data-video-autoplay
        {% if section.settings.image != blank %}poster="{{ section.settings.image.src | img_url: '1x1' }}"{% endif %}
        style="object-position: {{ section.settings.object_position | replace: '-', ' ' }};"
        playsinline
        autoplay
        loop
        muted>
        <source src="{{ section.settings.video_link_bg }}" type="video/mp4" />
      </video>
    </div>
  {%- else -%}
    {% render 'hero', img_object: section.settings.image.src, frame_height_class: section.settings.height, bg_position: section.settings.bg_position %}
  {% endif %}

  {% if section.settings.height == 'use_screen_full' %}
    <div class="scroll_icon_wrap">
      <button data-scroll-down class="scroll_link bloop" aria-label="{{ 'general.accessibility.scroll' | t }}">
        <span class="scroll_icon">{% render 'icon-scroll-down' %}</span>
      </button>
    </div>
  {% endif %}
</div>
  </div>




{% schema %}
{
  "name": "Video Rewards",
  "settings": [
    {
      "type": "select",
      "id": "height",
      "label": "Section height",
      "default": "use_screen_two_thirds",
      "options": [
        { "value": "use_screen_full", "label": "Full screen height"},
        { "value": "use_screen_three_quarters", "label": "Three quarters of screen height"},
        { "value": "use_screen_two_thirds", "label": "Two thirds of screen height"},
        { "value": "use_screen_one_half", "label": "One half of screen height"},
        { "value": "use_screen_one_third", "label": "One third of screen height"},
        { "value": "use_screen_one_fifth", "label": "One fifth of screen height"},
        { "value": "use_pixels_800", "label": "800px" },
        { "value": "use_pixels_650", "label": "650px" },
        { "value": "use_pixels_500", "label": "500px" },
        { "value": "use_image", "label": "Image height"}
      ]
    },
    {
      "type": "header",
      "content": "Background video"
    },
    {
      "type": "text",
      "id": "video_link_bg",
      "label": "Video background link",
      "info": "MP4 video link from [files](/admin/settings/files)."
    },
    {
      "type": "select",
      "id": "object_position",
      "label": "Background video position",
      "default": "center-center",
      "options": [
        { "label": "Top", "value": "center-top" },
        { "label": "Right", "value": "right-center" },
        { "label": "Center", "value": "center-center" },
        { "label": "Left", "value": "left-center" },
        { "label": "Bottom", "value": "center-bottom" }
      ]
    },
    {
      "type": "header",
      "content": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": "Image position",
      "default": "center-center",
      "options": [
        { "label": "Top", "value": "center-top" },
        { "label": "Right", "value": "right-center" },
        { "label": "Center", "value": "center-center" },
        { "label": "Left", "value": "left-center" },
        { "label": "Bottom", "value": "center-bottom" }
      ]
    },
    {
      "type": "header",
      "content": "Video popup"
    },
    {
      "type": "video_url",
      "id": "video_link",
      "label": "Video popup link",
      "accept": ["youtube", "vimeo"],
      "info": "Streaming video source from YouTube or Vimeo.",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "text",
      "id": "popup_text",
      "label": "Popup button text"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "kicker",
      "label": "Kicker",
      "default": "Introducing"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured video"
    },
          {
        "type": "text",
        "id": "outlined_text",
        "label": "Outline Heading"
      },
    
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Text",
      "default": "<p>This area is used to describe your video’s details.</p>"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Alignment",
      "default": "align--middle-center",
      "options": [
        { "value": "align--top-left", "label": "Top left"},
        { "value": "align--top-center", "label": "Top center"},
        { "value": "align--top-right", "label": "Top right"},
        { "value": "align--middle-left", "label": "Middle left"},
        { "value": "align--middle-center", "label": "Absolute center"},
        { "value": "align--middle-right", "label": "Middle right"},
        { "value": "align--bottom-left", "label": "Bottom left"},
        { "value": "align--bottom-center", "label": "Bottom center"},
        { "value": "align--bottom-right", "label": "Bottom right"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text--white",
      "options": [
        { "value": "text--neutral", "label": "Normal text"},
        { "value": "text--white", "label": "White"},
        { "value": "text--primary", "label": "Primary accent"},
        { "value": "text--secondary", "label": "Secondary accent"},
        { "value": "text--black", "label": "Black"},
        { "value": "text--invert--primary", "label": "Primary dark accent"},
        { "value": "text--invert--secondary", "label": "Secondary dark accent"},
        { "value": "text--invert", "label": "Inverted text color"}
      ]
    },
    {
      "type":    "range",
      "id":      "overlay_opacity",
      "min":     0,
      "max":     100,
      "step":    5,
      "label":   "Image overlay opacity",
      "info":    "Increase contrast for legible text.",
      "default": 15
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Color",
      "default": "btn--white",
      "options": [
        { "value": "btn--primary", "label": "Bright accent" },
        { "value": "btn--secondary", "label": "Secondary accent" },
        { "value": "btn--neutral", "label": "Text color" },
        { "value": "btn--black", "label": "Black" },
        { "value": "btn--white", "label": "White" }
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "btn",
      "options": [
        { "value": "btn", "label": "Solid button"},
        { "value": "btn--soft", "label": "Soft button"},
        { "value": "btn--outline", "label": "Outlined button"}
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Rewards",
      "category": "Image"
    }
  ]
}
{% endschema %}
